.accordion__item {
  border-bottom: 1px solid $brown;
  // padding-left: 38px;

  &:last-of-type {
    border: none;
  }
}

.accordion__item p {
  margin: 0;
  margin-top: -12px;
  padding: 0 410px 41px 50px;
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  @include tablet {
    padding: 10px 80px 45px 50px;
  }

  @include mobile {
    padding: 0 60px 22px 25px;
    font-size: 14px;
    line-height: 140%;
  }
}

.accordion__item h3 {
  margin: 0;
  padding: 43px 0 43px 41px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  position: relative;
  cursor: pointer;
  // transition: all 0.5s ease-in-out;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 50px;
    height: 16px;
    width: 1px;
    background-color: $brown;
  }

  &::before {

    transform: translate(-11px, -50%) rotate(-45deg);
  }

  &::after {

    transform: translate(0, -50%) rotate(45deg);
  }

  @include tablet {
    padding: 45px 0 42px 50px;
  }

  @include mobile {
    padding: 16px 80px 20px 25px;
    font-size: 16px;
    line-height: 140%;

    &::before,
    &::after {
      top: 30%;
      right: 26px;
    }
  }
}

.accordion__item--active h3 {
  padding-bottom: 20px;

  &::before {
    top: 62%;
    transform: translate(-11px, -50%) rotate(45deg);
  }

  &::after {
    top: 62%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  @include tablet {
    padding-bottom: 35px;
  }

  @include tablet {
    padding-bottom: 25px;

    &::before,
    &::after {
      top: 30%;
      right: 26px;
    }
  }
}

.accordion__item--special h3 {
  @include mobile {
    padding-right: 30px;
  }
}
