.accordion__item {
  border-bottom: 1px solid $brown;
  position: relative;

  &:last-of-type {
    border: none;
  }
}

.accordion__item p {
  margin: 0;
  margin-top: -12px;
  padding: 0 410px 41px 50px;
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  overflow: hidden;

  @include tablet {
    padding: 10px 80px 45px 50px;
  }

  @include mobile {
    padding: 0 60px 22px 25px;
    font-size: 14px;
    line-height: 140%;
  }
}

.accordion__item button {
  display: block;
  margin: 0;
  padding: 43px 100px 43px 41px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  cursor: pointer;
  background-color: $white;
  border: none;
  width: 100%;
  text-align: left;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 50px;
    height: 16px;
    width: 1px;
    background-color: $brown;
  }

  &::before {

    transform: translate(-11px, -50%) rotate(-45deg);
  }

  &::after {

    transform: translate(0, -50%) rotate(45deg);
  }

  @include tablet {
    padding: 45px 100px 42px 50px;
  }

  @include mobile {
    padding: 16px 80px 20px 25px;
    font-size: 16px;
    line-height: 140%;

    &::before,
    &::after {
      top: 30%;
      right: 26px;
    }
  }
}

.accordion__item--active button {
  padding-bottom: 20px;

  &::before {
    top: 31%;
    transform: translate(-11px, -50%) rotate(45deg);
  }

  &::after {
    top: 31%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  @include tablet {
    padding-bottom: 25px;

    &::before,
    &::after {

      right: 50px;
    }
  }

  @include mobile {
    padding-bottom: 25px;

    &::before,
    &::after {
      top: 14%;
      right: 26px;
    }
  }
}

.accordion__item--special button {
  @include mobile {
    padding-right: 30px;
  }
}
