.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    padding: 0 8px;
  }
}

.advantages__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $grey;

  &:not(:last-of-type) {
    border-right: 1px solid $light-grey;
    padding-right: 13px;
  }

  @include tablet {
    font-size: 12px;
  }

  @include mobile {
    text-align: center;
    width: 60px;

    &:not(:last-of-type) {
      position: relative;
      border-right: none;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: -28px;
        width: 1px;
        height: 20px;
        background-color: $light-grey;
      }
    }
  }
}
