.catalog {
  position: relative;
  padding-top: 80px;
  padding-bottom: 69px;

  &::after {
    position: absolute;
    content: "";
    bottom: 132px;
    height: 1px;
    width: 100%;
    background-color: #f6f5f4;
  }

  @include tablet {
    padding-top: 50px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 59px;

    &::after {
      display: none;
    }
  }
}

.catalog form {
  margin-right: 50px;
  width: 250px;
  height: min-content;

  @include tablet {
    // position: absolute;
    z-index: 2;
    margin-top: 20px;
    // margin-left: 15px;
    // margin-right: 15px;
    padding-bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    // top: 50%;
    // transform: translateY(-50%);
    // left: 0;
    // right: 0;
    display: none;
    position: absolute;
    // position: fixed;
    max-width: 458px;
    width: 89%;
    background-color: $white;
    box-shadow: 0px 5px 32px rgba(219, 213, 208, 0.24);
    // overflow: scroll;
    // overflow-y: scroll;
    // height: 80vh;
    // height: 100%;
  }
}

.catalog__grid {
  display: grid;
  grid-template-columns: min-content 1fr;

  @include tablet {
    display: block;
    // padding: 0 15px;
  }
}

.cataglog__product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 22px;

  @include mobile {
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
  }
}

.cataglog__product-item {
  max-width: 270px;
  // margin-right: 5px;

  @include tablet {
    margin: 0 auto;
    width: 100%;
  }

  @include mobile {
    min-width: 130px;
  }
}

.catalog__option-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  border: 1px solid $brown;

  @include tablet {
    border: none;
  }
}

.catalog__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $brown;
  }

  @include tablet {
    border-bottom: 1px solid $brown;
  }
}

.catalog__item .input-options,
.catalog__item .range-filter {
  display: none;
}

.catalog__item--active .input-options,
.catalog__item--active .range-filter {
  display: block;
}

.catalog__option-list h3 {
  margin: 0;
  padding: 24px 25px 21px 25px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 50px;
    height: 16px;
    width: 1px;
    background-color: $brown;
  }

  &::before {

    transform: translate(-11px, -50%) rotate(-45deg);
  }

  &::after {

    transform: translate(0, -50%) rotate(45deg);
  }

  @include tablet {
    padding: 40px;
  }

  @include mobile {
    padding: 24px 20px 21px 20px;
  }

  &:hover,
  &:focus {
    background-color: $brown;
    color: $white;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.catalog__item--active h3 {
  &::before {

    transform: translate(-11px, -50%) rotate(45deg);
  }

  &::after {

    transform: translate(0, -50%) rotate(-45deg);
  }
}

.catalog__checkbox {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  padding-left: 40px;
  margin-left: 20px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $brown;
    opacity: 0.8;
  }

  @include tablet {
    margin-left: 50px;
  }

  @include mobile {}
}

.catalog__pagination {
  margin-top: 48px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;

  @include mobile {
    justify-content: center;
    margin-top: 18px;
  }
}

.catalog__pagination-list {
  margin: 0;
  margin-left: -30px;
  padding: 0;
  list-style: none;
  display: flex;

  @include mobile {
    margin-left: 0;
  }
}

.catalog__pagination-link {
  padding: 0 6px 0 7px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: $grey;

  &--active {
    color: $black;
  }

  &:hover {
    background-color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  @include mobile {
    padding: 0 12px 0 12px;
  }
}

.catalog__button-wrap {
  @include tablet {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 20px;
  }
}
