.catalog {
  position: relative;
  padding-top: 80px;
  padding-bottom: 69px;

  &::after {
    position: absolute;
    content: "";
    bottom: 132px;
    height: 1px;
    width: 100%;
    background-color: $light-grey;
  }

  @include tablet {
    padding-top: 50px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 59px;

    &::after {
      display: none;
    }
  }
}

.catalog form {
  margin-right: 50px;
  width: 250px;
  height: min-content;

  @include tablet {
    z-index: 7;
    margin-top: 20px;
    padding-bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    max-width: 458px;
    width: 89%;
    background-color: $white;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }
}

.catalog__grid {
  display: grid;
  grid-template-columns: min-content 1fr;

  @include tablet {
    display: block;
  }
}

.catalog__product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 22px;

  @include mobile {
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
  }
}

.catalog__product-item {
  max-width: 270px;

  @include tablet {
    margin: 0 auto;
    width: 100%;
  }

  @include mobile {
    min-width: 130px;
  }
}

.catalog__option-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  border: 1px solid $brown;

  @include tablet {
    border: none;
  }
}

.catalog__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $brown;
  }

  @include tablet {
    border-bottom: 1px solid $brown;
  }
}

.catalog__item .catalog__input-options,
.catalog__item .catalog__range-filter {
  display: none;
}

.catalog__item--active .catalog__input-options,
.catalog__item--active .catalog__range-filter {
  display: block;
}

.catalog__option-list .catalog__button {
  margin: 0;
  padding: 24px 25px 21px 25px;
  position: relative;
  width: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 25px;
    height: 14px;
    width: 1px;
    background-color: $brown;
  }

  &::before {

    transform: translate(-10px, -50%) rotate(-45deg);
  }

  &::after {

    transform: translate(0, -50%) rotate(45deg);
  }

  @include tablet {
    padding: 40px;
  }

  @include mobile {
    padding: 24px 20px 21px 20px;
  }

  &:hover {
    background-color: $brown;
    color: $white;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.catalog__item--active .catalog__button {
  &::before {

    transform: translate(-10px, -50%) rotate(45deg);
  }

  &::after {

    transform: translate(0, -50%) rotate(-45deg);
  }
}

.catalog__checkbox {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  padding-left: 40px;
  margin-left: 20px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $brown;
    opacity: 0.8;
  }

  @include tablet {
    margin-left: 50px;
  }
}

.catalog__pagination {
  margin-top: 48px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;

  @include mobile {
    justify-content: center;
    margin-top: 18px;
  }
}

.catalog__pagination-list {
  margin: 0;
  margin-left: -30px;
  padding: 0;
  list-style: none;
  display: flex;

  @include mobile {
    margin-left: 0;
  }
}

.catalog__pagination-link {
  padding: 0 6px 0 7px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: $grey;

  &--active {
    color: $black;
  }

  &:hover {
    background-color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  @include mobile {
    padding: 0 12px 0 12px;
  }
}

.catalog__button-wrap {
  @include tablet {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 20px;
  }
}

.catalog__input-options {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}

.catalog__input-options input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid $brown;
  color: $white;

  @include tablet {
    left: 0;
  }

  @include mobile {
    left: 0;
  }
}

.catalog__input-options input[type="checkbox"]:checked + label::before {
  background-color: $brown;
}

.catalog__input-options input[type="checkbox"]:focus + label {
  border: 1px dashed $brown;
}

/* stylelint-disable */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

/* stylelint-enable */
.catalog__range-filter {
  padding: 0 25px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 4px;

  @include tablet {
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 88px;
  }
}

.catalog__range-filter-control {
  position: relative;
  padding-top: 3px;
  height: 50px;
  border-radius: 2px;

  @include tablet {
    // padding-top: 25px;
  }
}

.catalog__range-control {
  position: relative;
}

.catalog__range-control .catalog__range-scale {
  position: relative;
  margin-bottom: 9px;
  height: 1px;
  background-color: rgba($color: $brown, $alpha: 0.2);

  @include tablet {
    height: 1px;
  }
}

.catalog__range-control .catalog__range-bar {
  height: 1px;
  background-color: $brown;

  @include tablet {
    height: 1px;
  }
}

.catalog__range-control .catalog__range-toggle-control {
  position: absolute;
  z-index: 10;
  top: -4px;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: $brown;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @include tablet {
    width: 13px;
    height: 13px;
  }

  &:hover {
    width: 19px;
    height: 19px;
    top: -6px;
  }

  &:active {
    border: 1px solid $black;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }
}

.catalog__range-price {
  position: relative;
}

.catalog__range-price input {
  width: 40px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  background-color: transparent;
}
