.email-field {
  margin-top: 38px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white;

  @include tablet {
    width: 100%;
  }
}

.email-field input {
  height: 30px;
  line-height: 30px;
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: $white;

  &:hover {
    background-color: rgba($white, 0.1);
  }
}

.email-field input::placeholder {
  letter-spacing: 0.7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}
