.extra-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.extra-navigation .extra-navigation__item {
  margin-bottom: 10px;
}

.extra-navigation__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: rgba($white, 0.75);
  text-decoration: none;

  &:hover {
    color: $white;
  }

  &:active {
    color: $black;
  }
}

.extra-navigation--open {
  @include tablet {
    display: block;
    z-index: 1000;
  }
}

// .extra-navigation--open .navigation__list {
//   @include tablet {
//     display: block;
//   }
// }

// .extra-navigation--open .navigation__item {
//   margin-bottom: 21px;

//   &:last-child {
//     margin-bottom: 35px;
//   }

//   @include mobile {
//     &:last-child {
//       margin-bottom: 25px;
//     }
//   }
// }
// .extra-navigation--open .navigation__link {
//   @include tablet {
//     font-size: 24px;
//     line-height: 36px;
//     color: $white;
//   }

//   &:active {
//     color: $black;
//   }
// }
