.faq {
  padding-top: 120px;
  padding-bottom: 118px;

  @include tablet {
    padding-top: 68px;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-top: 59px;
    padding-bottom: 67px;
  }
}

.faq h2 {
  margin: 0;
  padding: 0;

  @include title;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
}

.faq__list {
  margin: 48px auto 0 auto;
  padding: 0;
  max-width: 970px;
  list-style: none;
  border: 1px solid $brown;

  @include tablet {
    max-width: 100%;
  }

  @include mobile {
    margin-top: 30px;
  }
}
