.footer {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: $black-standart;
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;

  @include tablet {
    padding-top: 50px;
  }
}

.footer__grid {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1200px) {
    justify-content: space-between;
  }

  @include tablet {
    padding-right: 118px;
    justify-content: space-between;
  }

  @include mobile {
    padding-right: 0;
    display: block;
  }
}

.footer h2 {
  margin: 0;
  padding: 0;

  @include title;
  font-size: 34px;
  letter-spacing: 0.02em;
  line-height: 130%;
  color: $white;

  @include mobile {
    padding-right: 50px;
  }
}

.footer p {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: $grey;

  @include mobile {
    margin-top: 11px;
    padding-right: 50px;
    line-height: 23px;
  }
}

.footer__list {
  margin: 0;
  margin-left: 90px;
  padding: 0;
  list-style: none;

  &--extra-nav {
    margin-left: 72px;
  }

  &--social {
    margin-left: 105px;
  }

  @media screen and (max-width: 1200px) {
    margin-left: 0;
  }

  @include tablet {
    margin-top: 40px;

    &--social {
      margin-right: -10px;
    }

    &--extra-nav {
      // margin-top: 30px;
    }
  }

  @include mobile {
    &--social {
      display: flex;
      flex-wrap: wrap;
    }

    &--extra-nav {
      margin-top: 30px;
    }
  }
}

.footer__list-item {
  font-size: 16px;
  margin-bottom: 13px;
}

.footer__link {
  font-weight: 500;
  font-size: 16px;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.footer__link span {
  // color: red;
  display: inline-block;
  margin-left: 12px;
  vertical-align: baseline;

  @include mobile {
    display: none;
  }
}

.footer__link--facebook svg {
  @include mobile {
    width: 12px;
    height: 21px;
  }

  &:hover {
    color: $brown;
  }
}

.footer__link--instagram svg {
  @include mobile {
    width: 20px;
    height: 21px;
  }
}

.footer__link--pinterest svg {
  @include mobile {
    width: 20px;
    height: 21px;
  }
}

.footer__link--twitter svg {
  @include mobile {
    width: 20px;
    height: 18px;
  }
}

.footer__grid form {
  @include tablet {
    width: 100%;
  }

  @include mobile {
    padding-right: 0;
    max-width: 100%;
  }
}

.footer__list--social .footer__list-item {
  @include mobile {
    margin-right: 30px;
  }
}
