.input-options {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  list-style: none;
}

.input-options__item {
  margin: 0;
  padding: 0;
  line-height: 14px;
}

.input-options input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid $brown;
  color: $white;

  @include tablet {
    left: 0;
  }

  @include mobile {
    left: 0;
  }
}

.input-options input[type="checkbox"]:checked+label::before {
  background-color: $brown;
}

.input-options input[type="checkbox"]:focus+label {
  border: 1px dashed $brown;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
