.logo {
  margin-left: -20px;
  color: $brown;
  //
  position: absolute;
  left: 50%;
  transform: translateX(-20%);
  //

  @include tablet {
    margin-left: 0;
    transform: translateX(-50%);
  }

  &--login {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo svg {
  @include mobile {
    width: 52px;
    height: 52px;
  }
}
