.modal {
  position: fixed;
  z-index: 100;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 430px;
  padding: 33px 45px 36px 45px;
  background-color: $light-beige;
}


@keyframes modalShow-x {
  0% {
    transform: translate(-1200px, -50%);
  }

  70% {
    transform: translate(100px, -50%);
  }

  100% {
    transform: translate(0, -50%);
  }
}

.modal-show-x {
  animation-name: modalShow-x;
  animation-duration: 0.5s;
}

.modal h1,
.modal h2 {
  margin: 0;
  padding: 0;

  @include title;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.modal input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;

  &::placeholder {
    font-size: 14px;
    color: $grey;
  }

  &:hover {
    background-color: rgba($white, 0.2);
    border-bottom: 1px solid $brown;
  }
}

.modal input[type="email"] {
  margin-bottom: 20px;
}

.modal__forgot {
  margin-top: 3px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: $grey;
  display: block;
  text-align: right;

  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.modal__sign,
.modal__sign-up {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: $grey;
  margin-top: 15px;
  text-align: center;
}

.modal__sign-up {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}

.modal--login,
.modal--login-static {
  padding-top: 185px;
  background-image: url("../img/background/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 138px;

  @include retina {
    background-image: url("../img/background/login-bg@2x.jpg");
  }

  @include mobile {
    max-width: 270px;
    min-height: 470px;
    margin: 0 auto 50px auto;
    background-size: 100% 84px;
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal--login h2,
.modal--login-static h2 {
  margin-bottom: 25px;

  @include mobile {
    margin-bottom: 15px;
    font-size: 24px;
  }
}

.modal__button-group {
  margin-top: 40px;
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    display: block;
    margin-top: 20px;
  }
}

.modal--cart {
  padding: 50px 35px;
  max-width: 500px;
  background-color: $white;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);

  @include mobile {
    min-width: 290px;
    width: 90%;
    min-height: 519px;
    padding: 37px 15px;
  }
}

.modal--cart h2 {
  @include title;
  font-size: 26px;

  @include mobile {
    font-size: 24px;
    padding: 0 30px;
  }
}

.modal--page {
  position: relative;
  transform: none;
  z-index: 0;
  margin: 100px auto;
}
