.products {
  position: relative;
  margin-bottom: 100px;
  padding-top: 118px;

  @include tablet {
    // margin-bottom: 70px;
    padding-top: 70px;
  }

  @include mobile {
    padding-top: 60px;
    margin-bottom: 80px;
  }

  &--card {
    margin-bottom: 185px;

    @include tablet {
      margin-bottom: 120px;
    }

    @include mobile {
      padding-top: 55px;
      margin-bottom: 105px;
    }
  }
}

.products h2 {
  position: relative;
  margin: 0;
  padding: 0;
  @include title;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
}

.products--card {}

.products--card .link--products {
  margin-top: 16px;
}

.products--card .swiper-button-prev {
  // background-color: lawngreen;
}
