.product-card {
  text-decoration: none;
  color: $black;
}

.product-card h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;

}

.product-card p {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
}

.product-card img {
  width: minmax(200px, 100%);

  @include tablet {
    width: 324px;
    height: 340px;
  }

  @include mobile {
    width: 130px;
    height: 136px;
  }
}
