.product-card {
  display: block;
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &:focus {
    // outline: 3px solid tomato;
  }
}

.product-card h3 {
  margin: 0;
  margin-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  overflow: hidden;

  @include mobile {
    margin-top: 12px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.product-card p {
  margin-top: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  overflow: hidden;

  @include tablet {
    margin-top: 5px;
  }
}

.product-card img {
  width: 100%;
  height: auto;

  @include tablet {
    // width: 324px;
    // height: 340px;
  }

  @include mobile {
    // width: 130px;
    // height: 136px;
  }
}

.product-card--catalog p {
  margin-top: 7px;

  @include tablet {
    margin-top: 6px;
  }
}

.product-card--catalog img {
  max-width: 270px;
  width: 100%;
  height: auto;
  max-height: 272px;

  @include tablet {
    // max-width: 206px;
  }

  @include mobile {
    min-height: 136px;
  }
}
