.product-card {
  display: block;
  text-decoration: none;
  color: $black;
}

.product-card h3 {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;

  @include mobile {
    margin-top: 10px;
  }

}

.product-card p {
  margin-top: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;

  @include tablet {
    margin-top: 5px;
  }
}

.product-card img {
  // width: minmax(200px, 100%);
  width: 100%;
  height: auto;

  @include tablet {
    // width: 324px;
    // height: 340px;
  }

  @include mobile {
    // width: 130px;
    // height: 136px;
  }
}

.product-card--catalog {}

.product-card--catalog img {
  max-width: 270px;
  width: 100%;
  height: auto;

  @include tablet {
    max-width: 206px;
  }

  @include mobile {}
}
