.slider {
  // padding: 32px;
  /* color: #fff; */
  color: green;
  max-height: 435px;
}

.swiper-slide1 {
  flex-shrink: 0;
  // width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.slider .swiper-container {
  width: 100%;
  height: 100%;
}

.slider__flex {
  display: flex;
  align-items: flex-start;
}

.slider__col {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 32px;
}

.slider__thumbs {
  // width: 100px;
  // height: 400px;
  height: 435px;
}

.slider__thumbs .slider__image {
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  width: 100px;
  height: 125px;
}

.slider__thumbs .slider__image:hover {
  opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.slider__images {
  height: 435px;

  @include tablet {
    height: 286px;
  }
}

.slider__images .slider__image img {
  transition: 3s;
}

.slider__images .slider__image:hover img {
  transform: scale(1.1);
}

.slider__image {
  width: 100%;
  height: 100%;

  /* border-radius: 30px;   */
  overflow: hidden;
}

.slider__image img {
  display: block;
  width: 100%;
  height: 100%;

  // -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1023.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }

  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 14px;
    width: 100%;
  }

  .slider__images {
    width: 100%;
  }

  .slider__thumbs {
    height: 100px;
    width: inherit;
    // width: calc(100% - 96px);
    // margin: 0 16px;
  }

  .slider__thumbs .swiper-slide {
    width: 97px;
  }

  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
}

@media (max-width: 767.68px) {
  .slider__col {
    display: none;
  }

  @media(max-width: 339.5px) {
    .slider__images {
      padding-right: 14px;
    }
  }
}
