.toggle {
  display: none;
  z-index: 5;
  cursor: pointer;

  @include tablet {
    position: absolute;
    left: -15px;
    top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
  }

  @include mobile {
    top: 0;
  }

  &--off {
    display: none;
  }
}

// ++++++++++++++++++++++++++++++++++++++++++=
.toggle span {
  display: block;
  position: absolute;
  top: 22px;
  left: 15px;
  width: 25px;
  height: 2px;
  background-color: $black;
}

.toggle span::before,
.toggle span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $black;
  content: "";
}

.toggle span::before {
  top: -8px;
}

.toggle span::after {
  bottom: -8px;
}

.toggle:hover span,
.toggle:hover span::after,
.toggle:hover span::before {
  background-color: $brown;
}

.toggle:active span,
.toggle:active span::after,
.toggle:active span::before {
  opacity: 0.7;
}

// ++++++++++++++++++++++++++++++++++++++++++
.toggle.is-active span,
.toggle.is-active span::before,
.toggle.is-active span::after {
  background-color: $white;
}
