*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}



.hidden {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;

  @include tablet {
    // max-width: 768px;
    padding: 0 44px;
  }

  @include mobile {
    padding: 0 14px;
  }
}

.container-slim {
  max-width: 880px;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;
    margin: 0;
  }
}

.container-special-grid {
  width: 327px;
  margin-left: auto;
  margin-right: 0;
}

html {
  overflow-y: scroll;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.page,
.page__body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: $black;

}

.page__body {
  height: 100%;
  min-height: 100vh; // display: grid;
  display: flex;
  flex-direction: column;
  // grid-template-rows: min-content 1fr min-content;
  // align-content: start;/
}



.main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

.overflow {
  overflow: hidden;
}

.display-none {
  display: none;
}
