//Screen size
$mobile: 320px;
$tablet: 767.66px;
$desktop: 1023.33px;

// Colors
$white: #ffffff;
$white-opacity: rgba($color: $white, $alpha: 0.7);
$black: #1d1613;
$brown: #a87b62;
$light-beige: #f0eae4;

$light-black: #131314;
$dark: #161616;
$green: #0ad9c6;
$grey: rgba($color: $black, $alpha: 0.5);
$medium-grey: rgba($color: $black, $alpha: 0.7);
$special-grey: rgba(#1c1c1c, $alpha: 0.5);
$dark-grey:#48494d;
$light-grey: #f6f7f9;
