//Screen size
$mobile: 320px;
$tablet: 767.66px;
$desktop: 1023.33px;
$mobile500: 500.1px;

// Colors
$white: #ffffff;
$black: #1d1613;
$black-standart: #000000;
$brown: #a87b62;
$light-beige: #f0eae4;
$grey: #9b9997;
$light-grey: #f6f5f4;
$special-grey: rgba(#1c1c1c, $alpha: 0.5);
